<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <meta http-equiv="refresh" content="10; url=https://primer.safenetwork.org/" />

    <p>This page is no longer maintained. Please refer to
    <a href="https://primer.safenetwork.org/">The SAFE Network Primer</a>.
    </p>

    <p>You will be automatically redirected to the primer in 10 seconds.</p>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
